.about{
  width: 100vw;
  background-color: #fff;
  background-image: url(./background2.png);
  background-size: 200px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  padding: 120px 24px 20px 24px;
  box-sizing: border-box;
}
.section-title{
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
  font-weight: 700;
  position: relative;
}
.section-title::after{
  content: '';
  position: absolute;
  height: 5px;
  width: 3rem;
  background-color: #fca311;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  border-radius: 5px;
}
.about p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  font-size: 20px;
  color: #495057;
}
.grid-about{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
}
.title3{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
  font-size: 25px;
}
.more{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-title{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 50px;
  font-size: 25px;
  display: block;
  text-align: center;
  color: #000;
}
.know-me{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.know-me-p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  max-width: 1200px;
}
.skills {
  max-width: 100vw;
  margin-top: 40px;
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  mask-image: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 200px), transparent 100%);
}
.skills-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6rem;
  margin: 0;
  animation: infinite-scroll 10s linear infinite;
}
.skills-list li{
  list-style: none;
  margin-right: 6rem;
}
.skills-list img{
  height: 8rem;
}
@media (min-width: 768px) {
  .skills-list {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1023px) {
  .grid-about{
    display: flex;
    flex-direction: column;
  }
}
@keyframes infinite-scroll {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}

