.home{
  height: 100vh;
  min-height: 600px;
  max-height: 120rem;
  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(./background.svg);
  position: relative;
}
.greeting{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 90rem;
  width: 92%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}
.greeting span{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  font-size: 5.7rem;
  text-align: center;
}
.greeting p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 400;
  max-width: 800px;
  font-size: 2.2rem;
}
.greeting input{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 20px 90px;
  color: #fff;
  background-color: #fca311;
  outline: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.greeting input:hover{
  transform: translateY(-5px) ;
}
.socialMedia{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 240px;
  align-items: center;
  width: 50px;
  background-color:#fff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.socialMedia a{
  transition: all 0.2s;
  padding: 3px;
  border-radius: 2px;
}
.socialMedia a:hover {
  background-color: #fca311;
}
.mouse {
  width:25px;
  height:40px;
  border:2px solid #333;
  border-radius:60px;
  position:relative;
  overflow:hidden
}
.mouseScroll{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
.mouse::before {
  content:'';
  width:5px;
  height:5px;
  position:absolute;
  top:7px;
  left:50%;
  transform:translateX(-50%);
  background-color:#333;
  border-radius:50%;
  opacity:1;
  animation:wheel 1.3s infinite;
  -webkit-animation:wheel 1.3s infinite
}
@keyframes wheel {
  to {
    opacity:0;
    top:27px
  }
}
@media screen and (max-width: 1023px ) {
  .socialMedia{
    display: none;
  }
}