nav {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 100px rgba(0,0,0,.1);
  z-index: 1000;
}
.profile{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.profile span{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color:#000;
  cursor: pointer;
  transition: all 0.2s;
}
.profile span:hover{
  color: #fca311;
}
.profilePhotoContainer{
  overflow: hidden;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1.2rem;
  border-radius: 50px;
}
.profilePhoto{
  width: 100%;
}
.menu{
  margin-right: 30px;
}
.menu span{
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.menu span:hover{
  color: #fca311;
}
@media screen and (max-width: 767px) {
  .menu{
    display: none;
  }
}