@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 56%;
  width: 100vw;
}
body{
  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(./background.svg);
  width: 100vw;
}